{% sw_extends '@Storefront/storefront/layout/sidebar/category-navigation.html.twig' %}

{% block layout_navigation_categories %}
        {% set assortmentCount = 0 %}

        {% for item2 in navigationTree %}
            {% if item2.category.level == 2 %}
                {% set assortmentCount =  assortmentCount + item2.extensions.product_count.count %}
            {% endif %}
       
        {% endfor %}
        {% if level == 0 and assortmentCount != null %}
            <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                href="{{ path('frontend.home.page') }}"
                itemprop="url"
                title="{{ "general.homeLink"|trans|striptags }}">
                    <ul class="category-navigation level-0">{{ 'sidebarArticlesAmountPlugin.navigation.assortmentTitle' | trans }} ({{ assortmentCount }})  </ul>
            </a>
      {% endif %}

    {{parent()}}
       
    {% block layout_navigation_categories_link_children_name %}
        {{parent()}}
        {% if level < navigationMaxDepth %}
            ({{ item.extensions.product_count.count }}) 
        {% endif %}
    {% endblock %}

    {% block layout_navigation_categories_link_name %}
        {{parent()}}
        {% if level < navigationMaxDepth %}
            ({{ item.extensions.product_count.count }}) 
        {% endif %}
    {% endblock %}
{% endblock %}

